
title {
    color: orange;
    background-color;
}

body {
    color: orange;
    background-color: orange;
}

h1 {
    color: orange;
    margin-left: 20px;
}

h2 {
    color: orange;
    margin-left: 20px;
}

h3 {
    color: orange;
    margin-left: 20px;
}